---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog - Astro">
    <header>
        <nav>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">HOME</a></li>
                <li><a href="">HOME</a></li>
                <li><a href="">HOME</a></li>
                <li><a href="">HOME</a></li>
            </ul>
        </nav>
    </header>
</Layout>